@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
        </div>
        <div class="card-body">
            <div class="row">
            </div>
            <div class="row">
                <input type="hidden" id="id" value="0" />
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Current Password</label>
                        <input type="password" placeholder="Please Enter Current Password" class="form-control" id="txtcurrentpassword" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">New Password</label>
                        <input type="password" placeholder="Please Enter New Password" class="form-control" id="txtnewpassword" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Confirm Password</label>
                        <input type="password" placeholder="Please Enter Confirm Password" class="form-control" id="txtconfirmpassword" />
                    </div>
                </div>
            </div>

            <div class="form-actions mt-10">
                <input type="submit" class="btn btn-primary" id="btncp" onclick="IUChangePassword()"
                       value="Change Password" />
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@*<script src="~/js/Venue.js"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
    //ShowDataInTable();

    function Clear() {
        $("#txtcurrentpassword").val("");
        $("#txtnewpassword").val("");
        $("#txtconfirmpassword").val("");
    }

    function validation() {
        var msg = "";
        if ($("#txtconfirmpassword").val() == "") {
            msg = "Please enter confirm password !!";
        }
        if ($("#txtnewpassword").val() == "") {
            msg = "Please enter new password !!";
        }
        if ($("#txtcurrentpassword").val() == "") {
            msg = "Please enter current password !!";
        }
        return msg;
    }

    function IUChangePassword() {
        var CurrentPassword = $('#txtcurrentpassword').val();
        var NewPassword = $('#txtnewpassword').val();
        var ConfirmPassword = $('#txtconfirmpassword').val();
        var msg = validation();
        if (msg == "") {
            $.ajax({
                type: "POST",
                url: '/Admin/ChangePass/IUChangePassword',
                data: { CurrentPassword: CurrentPassword, NewPassword: NewPassword, ConfirmPassword: ConfirmPassword },
                dataType: "JSON",
                success: function (result) {
                    if (result.message == "Password Changed") {
                        alert("Your password has been changed successfully !!");
                    }
                    else if (result.message == "Confirm Password do not match") {
                        alert("Confirm Password do not match !!");
                    }
                    else if (result.message == "Current Password not match") {
                        alert("current Password do not match !!");
                    }
                    Clear();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        else {
            alert(msg);
        }
    }
</script>
