
@{
    ViewData["Title"] = "ContactForm";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
	<br>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Contact Form</h6>
		</div>
		<div class="card-body">
			<div class="row">
				<input type="hidden" id="id" />
				<div class="col-md-4">
					<div class="form-group">
						<label class="font-weight-700 font-size-16">Full Name</label>
						<input type="text" placeholder="Please Enter Your Full Name" class="form-control" id="txtfullname" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="font-weight-700 font-size-16">Mobile No</label>
						<input type="text" placeholder="Please Enter Your Mobile No" class="form-control" id="txtmobileno" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="font-weight-700 font-size-16">Email</label>
						<input type="text" placeholder="Please Enter Your Email" class="form-control" id="txtemail" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="font-weight-700 font-size-16">Message</label>
					</div>
					<textarea placeholder="Please Write Something Here..." id="txtmsg"></textarea>
				</div>
			</div>

			<div class="form-actions mt-10">
				<input type="button" class="btn btn-primary" id="btnSave" onclick="IUContactForm()"
					   value="Save" />
			</div>
		</div>
	</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
@*//src="~/Category/category.js"*@

<script src="~/js/ContactForm.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
	//ShowDataInTable();
</script>

