@{
    ViewData["Title"] = "ItemGroup";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}
<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Group Master</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <input type="hidden" id="id" />
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Item Name</label>
                        <input type="text" placeholder="Please Enter Item Name" class="form-control" id="txtcate" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Status</label>
                        <input type="checkbox" id="chkStatus" name="status" checked />  Active
                    </div>
                </div>
            </div>

            <div class="form-actions mt-10" id="btnsv">
                <input type="button" class="btn btn-primary" id="btnSave" onclick="IUItemGroup()"
                       value="Save" />
            </div>

            <div class="form-actions mt-10" id="btnupdt" style="display:none">
                <input type="button" class="btn btn-primary" id="btnupdate" onclick="IUUpdateItemGroup()"
                       value="Update" />
            </div>

        </div>
        <div class="col-md-12">
            <table id="data-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ItemGroup</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="Categorybody"></tbody>
            </table>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
@*//src="~/Category/category.js"*@

<script src="~/js/ItemGroup.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
    ShowDataInTable();
</script>


