@{
    ViewData["Title"] = "ItemSubGroup";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

}

<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sub Group Master</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <input type="hidden" id="id" />
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Item Group Name</label>
                        <select id="ddlcategory" class="form-control" tabindex="1">
                            <option value="0">Select ItemGroup</option>
                            @if (ViewBag.Categoryobj != null)
                            {
                                foreach (var item in ViewBag.Categoryobj as List<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Item Sub Group</label>
                        <input type="text" placeholder="Please Enter Item Sub Group" class="form-control" id="txtsubcate" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-700 font-size-16">Status</label>
                        <input type="checkbox" id="chkStatus" name="status" checked />  Active
                    </div>
                </div>
            </div>
            <div class="form-actions mt-10" id="btnsv">
                <input type="button" class="btn btn-primary" id="btnSave" onclick="IUItemSubGroup()"
                       value="Save" />
            </div>

            <div class="form-actions mt-10" id="btnupdt" style="display:none">
                <input type="button" class="btn btn-primary" id="btnupdate" onclick="IUUpdateItemSubGroup()"
                       value="Update" />
            </div>
        </div>
        <div class="col-md-12">
            <table id="data-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Item Group</th>
                        <th>Item Sub Group</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="SubCategorybody"></tbody>
            </table>
        </div>
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="~/js/ItemGroup.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script type="text/javascript">
    ShowItemSubGroup();
</script>


