
@{
    ViewData["Title"] = "Mst_Menu";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout1.cshtml";
}

<div class="container-fluid">
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Menu Master</h6>
        </div>
        <div class="card-body">
            <form class="new-customer-form row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="hidden" id="txtHiddenId" value="0" />
                        <input type="hidden" id="flgmode" value="ADD" />
                        <input type="hidden" id="UserId" value="@ViewBag.Adminid" />
                        <label for="name-f">Menu Name</label>
                        <input type="text" class="form-control form-control-user" name="fname" id="txtname" placeholder="Menu Name" required="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="email">Short Name</label>
                        <input type="email" class="form-control form-control-user" id="txtshortN" placeholder="Short Name" required="">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                       <label for="menu">Menu Parent</label>
                        <select id="ParentMenu" class="form-control form-controls">
                            <option value="0"> Select Menu Parents</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <label for="pass">Parent</label>
                            <input type="checkbox" id="Parent" class="form-control form-control-user checkboxs"/>
                    </div>
                </div>

                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                       <label for="address-1">Page Name</label>
                        <input type="text" id="PageName" class="form-control" placeholder="Enter Page Name" />
                    </div>
                </div>

                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <label for="Country">User Profile</label>
                        <input type="text" id="PrintOrder" value="@ViewBag.PrintOrderValue" readonly="readonly" class="form-control" placeholder="Enter Print Order" />
                    </div>
                </div>

                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                         <input type="checkbox" style="margin-top: 31px;" checked class="form-check d-inline" id="chkstatus" />
                         <label class="form-check-label"> Active</label>
                    </div>
                </div>

               @*  <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <label for="name-l">View</label>
                    </div>
                </div>*@

                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                         <input type="checkbox" checked class="custom-radio" id="Views" /> View &nbsp;&nbsp;
                    </div>
                </div>
                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                         <input type="checkbox" checked class="custom-radio" id="Adds" />Add  &nbsp;&nbsp;
                    </div>
                </div>
                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <input type="checkbox" checked class="custom-radio" id="Modify" /> Modify  &nbsp;&nbsp;
                    </div>
                </div>
                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <input type="checkbox" checked class="custom-radio" id="inquire" /> Inquiry  &nbsp;<br />
                    </div>
                </div>
                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                        <input type="checkbox" checked class="custom-radio" id="deleted" /> Delete  &nbsp;&nbsp;
                    </div>
                </div>
                 <div class="col-lg-3" style="margin-top: auto;">
                    <div class="form-group">
                       <button type="button" class="btn btn-primary float-right" id="btnSubmit" onclick="SaveMenu()">Submit</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <div class="table table-bordered" width="100%" cellspacing="0">
                    <div id="Printdiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="@Url.Content("~/js/InsAjax.js")"></script>
<script type="text/javascript">
    $("#Parent").change(function() {
        if (this.checked) {
            var oncheck = '#';
            $("#PageName").val(oncheck);

        }
        
    });
    $(document).ready(function() {
        BindMenu();
        //SaveMenu();
        BindGrid();
    });
    function SaveMenu() {
        var Controller_url = "/Admin/Admin/SaveMenuMaster";
        var PageUrl = $("#PageName").val();
        var url = "";
        if (PageUrl == '#') {
            url = "";
        } else {
            url = PageUrl;
        }

        var data = {
            MenuName: $("#txtname").val(),
            ShortName: $("#txtshortN").val(),
            ButtonView: $('#Views').is(':checked') ? 1 : 0,
            ButtonAdds: $('#Adds').is(':checked') ? 1 : 0,
            Status: $('#chkstatus').is(':checked') ? 1 : 0,
            ButtonModify: $('#Modify').is(':checked') ? 1 : 0,
            ButtonInquire: $('#inquire').is(':checked') ? 1 : 0,
            ButtonDelete: $('#deleted').is(':checked') ? 1 : 0,
            Parent: $('#Parent').is(':checked') ? 1 : 0,
            MenuId: $("#txtHiddenId").val(),
            Chksave: $("#chksave").is(':checked') ? 1 : 0,
            PageName: $("#PageName").val(),
            MenuParent: $("#ParentMenu").val(),
            PrintOrder: $("#PrintOrder").val(),
            mod: $("#flgmode").val(),
            CreateUser: $("#UserId").val(),
            type: 2,
            menu_url: url
        }

        var RecieveData = InsUpt_Ajax(Controller_url, data, "", "", "");
        Clear();
    }
    function BindMenu() {
        var Controller_url = "/Admin/Admin/BindBlood";
        var data = {}
        var ID = "#ParentMenu";
        var RecieveData = BindDropdown(Controller_url, data, "", "", "", ID);
    }
    function Clear() {
        $("#txtname").val('');
        $("#PrintOrder").val('');
        $("#txtshortN").val('');
        $("#PageName").val('');
        $("#ParentMenu").val("0");

        $("#txtHiddenId").val('');
        $("#chksave").val('');
        $("#flgmode").val('');
        $("#UserId").val('');

        $('input[type=checkbox]').prop('checked', false);
        $("#btnSubmit").html('Submit');
    }
    function BindGrid() {
        var url = "/Admin/Admin/BindMenuDiv";
        var data = {}
        var RecieveData = BindDiv(url, data, "", "", "");
    }
    function EditbyId(Id) {
        $("#data-table tbody tr").click(function() {
            var currentRow = $(this).closest("tr");
            var MenuID = currentRow.find("td:eq(0)").html();
            var MenuName = currentRow.find("td:eq(1)").html();
            var ShortName = currentRow.find("td:eq(2)").html();
            var ButtonView = currentRow.find("td:eq(3)").html();
            var ButtonAdds = currentRow.find("td:eq(4)").html();
            var ButtonModify = currentRow.find("td:eq(5)").html();
            var ButtonInquire = currentRow.find("td:eq(6)").html();
            var ButtonDelete = currentRow.find("td:eq(7)").html();
            var PageName = currentRow.find("td:eq(8)").html();
            var MenuParent = currentRow.find("td:eq(9)").html();
            var Status = currentRow.find("td:eq(10)").html();
            var PrintOrder = currentRow.find("td:eq(11)").html();
            var Parent = currentRow.find("td:eq(12)").html();
            //var PrintOrder=currentRow.find("td:eq(13)").html();
            //var data=ButtonView+"\n"+ButtonAdds+"\n"+PageName;
            //alert(data);
            $("#txtname").val(MenuName);
            $("#PrintOrder").val(PrintOrder);
            $("#txtshortN").val(ShortName);
            $("#PageName").val(PageName);
            $("#ParentMenu").val(MenuParent);
            $("#txtHiddenId").val(MenuID);
            $("#flgmode").val("ADD");
            if (Status == "Active") { $("#chkstatus").prop("checked", true); } else { $("#chkstatus").prop("checked", false); }
            if (ButtonView == 1) { $("#Views").prop("checked", true); } else { $("#Views").prop("checked", false); }
            if (ButtonAdds == 1) { $("#Adds").prop("checked", true); } else { $("#Adds").prop("checked", false); }
            if (ButtonModify == 1) { $("#Modify").prop("checked", true); } else { $("#Modify").prop("checked", false); }
            if (ButtonInquire == 1) { $("#inquire").prop("checked", true); } else { $("#inquire").prop("checked", false); }
            if (ButtonDelete == 1) { $("#deleted").prop("checked", true); } else { $("#deleted").prop("checked", false); }
            if (Parent == 1) { $("#Parent").prop("checked", true); } else { $("#Parent").prop("checked", false); }
            $("#btnSubmit").html('Update');

        });
    }
    function DeletebyId(Id) {
        var checkstr = confirm('Are You Sure You Want To Delete This?');
        if (checkstr == true) {
            $("#txtHiddenId").val(Id);
            $("#flgmode").val("Del");
            SaveMenu();
        }

    }
    $("#ParentMenu").change(function() {
        var Controller_url = "/Admin/Admin/ParentMenu";
        var MenuParent = $(this).val();
        var Data = { MenuParent: MenuParent }
        var ID = "#PrintOrder";
        var RecieveData = BindTextbox(Controller_url, Data, "", "", "", ID);
    });
    function Validation() {
        var msg = "";
        if ($('#txtname').val() == "") { msg = "Menu Name can not left Blank !! \n"; }
        if ($('#txtshortN').val() == "") { msg += "Short Name can not left Blank !! \n"; }
        if ($('#PageName').val() == "") { msg += "Page Name can not left Blank !! \n"; }
        if ($('#PrintOrder').val() == "") { msg += "Print Order can not left Blank !! \n"; }
        if (msg != "") { alert(msg); }
        return msg;
    }
</script>

