
@{
    ViewData["Title"] = "Index";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">

    <link rel="apple-touch-icon" href="img/f7-icon-square.html">
    <link rel="icon" href="img/f7-icon.html">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap-4.1.3/css/bootstrap.min.css">

    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="/vendor/materializeicon/material-icons.css">

    <!-- swiper carousel CSS -->
    <link rel="stylesheet" href="/vendor/swiper/css/swiper.min.css">

    <!-- app CSS -->
    <link id="theme" rel="stylesheet" href="/css/style.css" type="text/css">


    <title>Membership Number</title>
    <style type="text/css">



        .loader_cont {
            background-color: rgba(255,255,255,.9);
            border-radius: 50%;
            position: fixed;
            z-index: 500;
            left: 50%;
            top: 50%;
            height: 50px;
            width: 50px;
            padding: 20px;
            box-shadow: 2px 2px 20px #666;
            display: none
        }

        .loaderg {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            animation: rotate 1.2s infinite linear;
            -webkit-animation: rotate 1.2s infinite linear;
            -moz-animation: rotate 1.2s infinite linear;
            /*background: url("~/img/loader.gif") no-repeat;*/
        }

            .loaderg img {
                width: 100%;
                height: 100%;
            }

        @@-webkit-keyframes rotate {
            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz--webkit-transform: rotate(360deg);
            }
        }

        .title_top {
            padding: 5px 10px;
            background-image: url(../img/12.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 30px;
            background-position: center
        }

    </style>


    <link rel="stylesheet" type="text/css" href="~/css/stylegroupmaster.css">
</head>

<body class="color-theme-blue" >
    <form method="post" name="Common" action="cardrechagre">
    <div class="wrapper">

        <div class="loader_cont"><span class="loaderg" style="background: url(/img/loader.gif)  no-repeat"></span></div>
        <!-- page main start -->
        <div class="page module">
            <div class="page-content h-100">
                <div class="left login_arrow">
                    <div class="col-12"><a href="/Common/login" class="menu-left-close inner_back block-title"><i class="material-icons">keyboard_arrow_left</i></a><h2 class="block-title inner_title title_top">Card Recharge</h2></div>
                </div>
               
                <div class="row mx-0 justify-content-center">
                        
                    <div class="col-10 col-md-6 col-lg-4 my-3 text-center align-self-center" >
                            <div style="max-width:auto; auto; font-family:Arial, sans-serif;">
                                <div style="
        background: linear-gradient(135deg, #4facfe, #00f2fe);
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        color: white;
        text-align: center;">

                                    <h3 style="margin: 0; font-size: 18px; font-weight: 500;">Your Card Balance</h3>
                                    <div style="margin-top: 10px; font-size: 28px; font-weight: bold;">
                                        ₹ @ViewBag.cardbal
                                    </div>
                                </div>
                            </div>
                            <br />
                      @*  <img src="/img/logo-w.png" alt="" class="login-logo">*@

                           @*  <h6 class="title text-muted mb-1">Amount</h6><br /> *@
                            <input type="text" id="txtmsg" name="txtmsg" maxlength="5" class="form-control login_input border-0 text-justify" placeholder="Enter amount" required value='' pattern="[0-9]*" inputmode="numeric"><br />
                      @*  <textarea name="message" placeholder="Message" id="txtmsg" maxlength="5" style="width:100%; height:100px;box-shadow: inset 3px 3px 3px -1px #b9bfd5, inset -3px -3px 3px -1px #fafafa !important; color: #888 !important;border-radius: 12px !important;margin-bottom: 13px !important;padding: 10px 17px !important;"></textarea>*@
                        	<div class="form-group">
                                
                                <br />
                           <button class="btn btn-primary" id="btnsubmit" name="submit" type="submit" onclick="IUContactUs()">Recharge</button>
					</div>
                      
                        <br>
                                            
                    </div>
                </div>

                <br>

            </div>

        </div>
        <!-- page main ends -->
        <input type="hidden" id="txttok" name="txttok" value="" />
        <input type="hidden" id="emailid" name="emailid" value="@ViewBag.EMAIL" />
        <input type="hidden" id="mobileno" name="mobileno" value="@ViewBag.MOBILE" />
        <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

    <!-- Cookie jquery file -->
    <script src="/vendor/cookie/jquery.cookie.js"></script>

    <!-- sparklines chart jquery file -->
    <script src="/vendor/sparklines/jquery.sparkline.min.js"></script>

    <!-- Circular progress gauge jquery file -->
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>

    <!-- Swiper carousel jquery file -->
    <script src="/vendor/swiper/js/swiper.min.js"></script>

    <!-- Application main common jquery file -->
    <script src="/js/main.js"></script>

    <!-- page specific script -->
    </form>
</body>
<script>

    $(document).ready(function () {

        $('#txtmsg').keypress(function (e) {

            var charCode = (e.which) ? e.which : event.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;

        });

    });

    function IUContactUs() {

        var msg = "";
        if ($('#txtmsg').val() == "") { msg = " Please enter the amount "; }
        if (msg == "") {
            $('.loader_cont').show();

            document.getElementById('rzp-paymentresponse').click();
            // $.ajax({
            //     type: "POST",
            //     url: '/Common/cardrechagres',
            //     data: { amount: $("#txtmsg").val() },
            //     dataType: "JSON",
            //     success: function (result) {


            //         if (result.message == "ok") {

            //             $("#txttok").val(result.datas)

            //             $('.loader_cont').hide();

            //             //openPay();
                        
            //         }
            //         else{
            //              $("#txttok").val("");
            //             $('.loader_cont').hide();

            //         }
            //         //Clear();
            //     },
            //     error: function (errormessage) {
            //         alert(errormessage.responseText);
            //         $('.loader_cont').hide();
            //     }
            // });
        }
        else {
            alert(msg);
        }
    }
  
</script>

</html>


